// MOBILE (DEFAULT)
.card {
  background-color: white;
  border-radius: 1rem;
  margin: 0 1rem;
  position: relative;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

  &__left {
    .hidden {
      width: 23rem;
      height: 10rem;
      margin: 0 auto;
      background-image: url(../images/bg-pattern-mobile.svg);

      background-size: 23rem;
      background-repeat: no-repeat;
      position: relative;

      .image-platform {
        width: 112%;
        position: absolute;
        top: -10.5rem;
        left: -12%;
      }
    }
    .image-cube {
      display: none;
    }
  }

  &__right {
    padding: 3rem;
  }
}

// DESKTOP
@include respond(desktop) {
  .card {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      align-self: stretch;

      .hidden {
        overflow: hidden;
        height: 100%;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-size: 25.6rem;
        background-repeat: no-repeat;
        background-position: -2.6rem -0.5rem;

        position: relative;

        .image-platform {
          position: absolute;
          top: 2rem;
          left: -12%;
        }
      }

      .image-cube {
        position: absolute;
        display: block;
        top: 9.4rem;
        left: -3.9rem;
        width: 10rem;
        height: 10rem;
      }
    }

    &__right {
      padding: 3rem;
    }
  }
}
